# Database configurations
DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=
DATASOURCE_SCHEMA=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=0

# Security keys
SECURITY_KEY_PUBLIC=
SECURITY_KEY_PRIVATE=

# JWT Secret Key
JWT_SECRET_KEY=

# FTP Server
FTP_HOST=
FTP_PORT=
FTP_USERNAME=
FTP_PASSWORD=
FTP_FOLDER=
FTP_FOLDER_LOCAL=D:/